oi-corteza-dev.australiaeast.cloudapp.azure.com {
    reverse_proxy server:80 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }

    @insecure header_regexp InsecureAuth ^http://
    redir @insecure https://{host}{uri}
}

